PORT=4001
DATABASE_URL=postgresql://admin:admin@localhost:5432/games
RABBITMQ_URL=amqp://admin:admin@localhost:5672
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/crash-game/protocol/openid-connect/certs
KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
